---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* devanagari */
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-weight: 400;
  src: local('Sarpanch'), local('Sarpanch-Regular'), url(http://fonts.gstatic.com/s/sarpanch/v1/a5nncxfcOM-AHNYO3JsvjhTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-weight: 400;
  src: local('Sarpanch'), local('Sarpanch-Regular'), url(http://fonts.gstatic.com/s/sarpanch/v1/97u5riIkSG0o5eFDW7XlcBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-weight: 400;
  src: local('Sarpanch'), local('Sarpanch-Regular'), url(http://fonts.gstatic.com/s/sarpanch/v1/9r86uob7Kavm_ZkBXcnD4fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
