    <div class="tree-posts">

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <ul class="recent">
            <p>Posts:</p>
             {% for post in site.posts %}
                <li>
                    <a title="Will take a my recent post" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

    </div>
