// COLORS
main = #000;
mainHover = rgba(124, 221, 210, 0.42);
hover = darken(main, 50%)
mainLight = #3d3a3d
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #333333
colorcode = #7CDDD2
blackBase =  #2f2f33
neotree = #2f2f33
// Resolution
cut = 37.5rem
