<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>..:: {{site.title}} ::..</title>
<link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sarpanch' rel='stylesheet' type='text/css'>
</head>
<p class="terminal">[ <a href="/">H0m3</a> ]</p>
<body style="background-color:black;">
  <div class="buzz_wrapper">
    <div class="text">
      <center><span><a href="/"><img src="img/LOGOBRANCO.png"></span></center></a>
      <center><span>_UnkL4b_<span></center>
    </div>
    <div class="scanline"></div>
  </div>
  <div class="terminal row">
    <span terminal=1 class="terminal-line">
	      <div class="col-md-12 text-center">
        [ C0nt4t0s ]
        <br/>
        <br/>
3-M41L: unkl4b[*noSpam*]protonmail[*dot*]com<br>
g1thub: https://github.com/unkl4b<br>
tw1tt3r: @danilo_vaz_
      </div>

    </span>
  </div>
  <script src="js/index.js"></script>
</body>
</html>
