<!DOCTYPE html>
<html >
  <head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Sarpanch:400,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
</style>
    <meta charset="UTF-8">
    <title>..:: {{site.title}} ::..</title>
        <link rel="stylesheet" href="css/style.css">
  </head>
<p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">[ RSS ]</a></p>
  <body style="background-color:black;">
<div class="buzz_wrapper">
  <div class="text">
  <center><span><img src="img/LOGOBRANCO.png"></span></center>
<center><span class="titulo">_UnkL4b_</span></center>
  </div>
  <div class="scanline"></div>
</div>
<div class="terminal row">
  <span terminal=1 class="terminal-line">
<div class="col-md-6">
[ T00ls ]
<br/>
<br/>
~> <a href="https://github.com/UnkL4b/GitMiner">GitMiner</a> - Advanced search tool and automation in Github.
<br/>
~> <a href="https://github.com/danilovazb/sawef">Sawef</a> - Send Attack Web Forms
</div>
<div class="col-md-6">
[ P0sts ]
<br/>
<br/>
{% for post in site.posts limit:2 %}
~> {{ post.date  | date: site.date_format }} - <a href="{{ post.url | prepend: site.baseurl }}" class="style14">{{ post.title }}</a>
<br/>
{% endfor %}
</div>

  </span> 
</div>
        <script src="js/index.js"></script>    
<div class="gaf210imvustylez_youtubebox" style="width:1px;height:1px;overflow:hidden"><iframe width="300" height="300" src="https://www.youtube.com/embed/c5X4-pCDy94?autoplay=1&amp;loop=1&amp;playlist=c5X4-pCDy94" frameborder="0" allowfullscreen></iframe></div>
  </body>
</html>

